name: Rust-build-windows-x64

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
   build-windows-x64:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build x64
      shell: powershell
      run: | 
        md artifacts
        cargo build --release --target x86_64-pc-windows-msvc
        mv target/x86_64-pc-windows-msvc/release/atuin.exe artifacts/atuin_x64.exe   
    - uses: actions/upload-artifact@v4
      with:
        name: atuin-x64
        path: |
          artifacts/atuin_x64.exe
